---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import AssignmentPreview from '../components/AssignmentPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

	const achievments = [
    {
        title: "Runner Up at Sinhgad Hackathon 2k24",
        img: "/assets/sinhgad-hackathon.jpg",
        img_alt: "Image for Sinhgad Hackathon",
        description: "I want to express my sincere gratitude to my remarkable teammates: Ishwari Dole, Shreya Supekar, Chaitanya C Kulkarni, Anuja Korake. Our collaborative journey was marked by challenges that we tackled with creativity and determination. From the initial brainstorming sessions to effective problem-solving, every phase demonstrated our unwavering commitment and innovative spirit. This achievement stands as a testament to our collective hard work and synergy, reflecting the strength of teamwork in overcoming obstacles and reaching our goals.",
        slug: ""
    },
    {
        title: "100 days badge and top 4.2% leetcoder in 2024",
        img: "/assets/100daysleetcodepng.png",
        img_alt: "Image for badge",
        description: "I consistently engaged with coding challenges on LeetCode, dedicating myself to daily problem-solving over a span of 100 days. This commitment not only sharpened my coding skills but also enhanced my analytical thinking and problem-solving abilities. Earning the 100 Days Badge is a testament to my perseverance and discipline in tackling diverse algorithmic challenges, reinforcing my understanding of data structures and algorithms. This experience has equipped me with valuable skills applicable to real-world programming scenarios and has further fueled my passion for software development.",
        slug: ""
    },
    {
    title: "Got Awarded for Singing in Carnival 2k25",
    img: "/assets/carnival2k25.jpg",  // Replace with the actual image path
    img_alt: "The Certificate and Performance",
    description: "I was honored with an award for my singing performance with harmonium at Carnival 2k25, held at SKN Sinhgad College. The experience was both humbling and thrilling, and it was a great opportunity to showcase my passion for music. Grateful for the recognition and memories!",
    slug: "carnival-2k25-singing-runnerup"
},    
    {
        title: "Secured 2nd place at Ideathon 2k24 ",
        img: "/assets/Ideathon.jpeg",
        img_alt: "The Certificates",
        description: "We achieved 2nd place at Ideathon 2k24 held at Sinhgad College of Engineering, Pandharpur! We build a Multillingual personal video meeting web app with many unique features. I led the team and assigned the work such that every one will remain on same page and we can achieve desired output in specified time. ",
        slug: ""
    },
	


];
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="A friendly hello from Chaitanya!"
					tagline="Crafting Dynamic Web Experiences | Machine Learning Enthusiast"
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
						<Pill><Icon icon="microphone-stage" size="1.33em" /> Effective Commnicator</Pill>
						<Pill><Icon icon="sun" size="1.33em" /> Leadership Capability</Pill>
						<!-- <a href="">Download resume</a> -->
					</div>
					
				</Hero>

				<img
					alt="Chaitanya Kulkarni smiling in a red plaid shirt and tortoise shell glasses"
					width="480"
					height="620"
					src="/assets/portrait.jpg"
				/>

				
				<a class="roles" href="https://drive.google.com/file/d/1ayiXyIENrc2TRcfRV-VpO-iIlzPz4jtd/view?usp=sharing" target="_blank" rel="noopener noreferrer">
					<Pill><Icon icon="star" size="1.33em" /> Resume</Pill>
				</a>
				
			</header>
			
			<Skills />
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Projects</h3>
					<p>Take a look below at some of my featured projects.</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/work/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Achievements</h3>
					<p>Take a look below at some of my featured achievement.</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							achievments.map((achievement) => (
								<li>
									{/* <AssignmentPreview project={achievement} /> */}
									<AssignmentPreview 
                title={achievement.title} 
                img={achievement.img} 
                img_alt={achievement.img_alt} 
                description={achievement.description} 
                slug={achievement.slug} 
            />
								</li>
							))
						}
					</Grid>
				</div>

				
			</section>


		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}
.achievement img {
		width: 800px; /* Adjust size as needed */
		height: auto; /* Maintain aspect ratio */
		border-radius: 1rem;
		box-shadow: var(--shadow-sm);
	}
	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
